@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  font-family: Avenir, sans-serif;
  --title-color: #2a3d52;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: auto;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

nav button.logo {
  border: 0;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  pointer-events: none;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  display: inline-block;
  padding: 10px;
  font-family: Avenir;
  font-size: 12px;
  color: #212121;
  list-style: none;
  text-decoration: none;
}

.header-title {
  text-align: center;
  font-family: Avenir;
  color: var(--title-color);
  background-color: hsl(0, 0%, 95%);
  padding: 6rem;
}

h4 {
  margin-bottom: 1rem;
}

#menus,
.category-title {
  margin-inline: auto;
  padding-inline: 3rem;
  max-width: 80vw;
}

#menus {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 10rem;
  justify-content: space-between;
  padding-block: 3rem;
  gap: 2rem;
}

.menu {
  position: relative;
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
}

.menu::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.25;
  cursor: pointer;
}

.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  line-height: 1.1;
  color: white;
  font-size: 1.8rem;
  font-family: Avenir, sans-serif;
  word-wrap: break-word;
  z-index: 10;
}

.category-title {
  font-weight: 500;
  color: var(--title-color);
}

.items-title {
  font-family: Avenir;
  margin-top: 2rem;
  padding-left: 10rem;
  color: var(--title-color);
}

.item-details {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 3rem;
}

.item-details p {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.row-above {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.row-above img {
  width: 20rem;
  height: 20rem;
  margin-top: 1rem;
}

.col-kanan {
  display: flex;
  flex-direction: column;
}

.item-instruction h3 {
  color: var(--title-color);
  font-weight: 500;
  font-size: 2rem;
}

.item-instruction h5 {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}

.item-recipe {
  margin-bottom: 5rem;
}

.item-recipe h3 {
  color: var(--title-color);
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
}

.item-recipe ul#ingredients li {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 1.5rem;
}

.item-video h3 {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  font-weight: 500;
  color: var(--title-color);
  font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
  .row-above {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .row-above img {
    width: 100%;
    height: auto;
  }

  .menu h3{
    font-size: 1.6rem;
  }

  .item-title {
    font-size: 100%;
  }
}

@media (max-width: 500px) {
  body {
    /* background-color: blue; */
    font-size: 12px;
  }

  .header-title {
    padding: 4rem;
  }

  #menus {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .menu h3{
    font-size: 1.4rem;
  }

  nav ul a {
    font-size: 8px;
  }
}
