:root {
  font-family: system-ui, Avenir, Helvetica, 'Poppins', sans-serif;
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

nav {
  margin: auto;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

nav .logo{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  display: inline-block;
  padding: 10px;
  font-family: Avenir;
  font-size: 12px;
  color: #212121;
  list-style: none;
  text-decoration: none;
}

.header-title {
  text-align: center;
  font-family: Avenir;
  color: #2A3D52;
  background-color: #F9FAFB;
  padding: 6rem;
}

h4 {
  margin-bottom: 1rem;
}

#menus {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 10rem;
  padding-top: 3rem;
  justify-content: space-between;
  padding-left: 10rem; 
  padding-right: 160px;
  padding-bottom: 10rem;
  gap: 2rem;
}

.menu {
  position: relative;
  border-radius: 1rem;
  border: 0;
  background-color: transparent;
  overflow: hidden;
}

.menu::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.25;
}

.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  word-wrap: break-word;
  z-index: 10;
}

.category-title {
  font-family: Avenir;
  font-weight: 500;
  background-color: white;
  color: #2A3D52;
  padding-left: 10rem;
}
