:root {
  font-family: system-ui, Avenir, Helvetica, "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

nav {
  margin: auto;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  display: inline-block;
  padding: 10px;
  font-family: Avenir;
  font-size: 12px;
  color: #212121;
  list-style: none;
  text-decoration: none;
}

.header-title {
  text-align: center;
  font-family: Avenir;
  color: #2a3d52;
  background-color: #f9fafb;
  padding: 6rem;
}

h4 {
  margin-bottom: 1rem;
}

#menus {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 10rem;
  padding-top: 3rem;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.menu {
  position: relative;
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
}

.menu::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.25;
  cursor: pointer;
}

.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  word-wrap: break-word;
  z-index: 10;
}

.category-title {
  font-family: Avenir;
  font-weight: 500;
  background-color: white;
  color: #2a3d52;
  padding-left: 10rem;
}

.items-title {
  margin-top: 2rem;
  padding-left: 10rem;
  font-family: Avenir;
  color: #2a3d52;
}

.item-details {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  margin-top: 3rem;
}

.item-desc h3 {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.row-above {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.item-desc img {
  width: 20rem;
  height: 20rem;
  margin-top: 1rem;
}

.item-instruction {
  width: 50rem;
  font-family: Avenir;
}

.item-instruction h3 {
  color: #2a3d52;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem;
}

.item-instruction h5 {
  width: 30rem;
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}

.item-recipe{
  font-family: Avenir;
}

.item-recipe h3 {
  color: #2a3d52;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
}

.item-recipe h3 ul{
  width: 30rem;
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
  margin-left: 2rem;
}

.item-video h3 {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  font-family: Avenir;
  font-weight: 400;
  color: #2a3d52;
  font-size: 2rem;
}